<%- include("templates/encabezado") %>

<main class="cajin7">
    <div class="container cajin8">
        <button class="cajin9" onclick="location.href='/mostrarUsuarios'">Usuarios</button>
        <button class="cajin10" onclick="location.href='/productos'">Productos</button>
    </div>
</main>

    <%- include("templates/pie") %>