<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://ejer-5.onrender.com/CSS/estilos.css">
    <link rel="stylesheet" href="https://ejer-5.onrender.com/CSS/MenBot.css">
    <link rel="stylesheet" href="https://ejer-5.onrender.com/CSS/estilosTabla.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ejer-5.onrender.com/JS/scriptBlur.js" defer></script>
    <title>Ejercicio 5</title>
</head>
<style>
</style>
<body>
    <header class="cajin1">
        <nav class="cajin2">
            <ul class="cajin3">
                <li class="cajin4"><a href="/">Inicio</a></li>
                <li class="cajin5 taco">
                    <a href="#" class="tacobtn cajin4">Opciones</a>
                    <div class="taco-content cajin6">
                        <a href="/mostrarUsuarios">Usuarios</a>
                        <a href="/productos">Productos</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
